@*
   For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Helperland.Models
@model Helperland.Models.User
@{
    List<UserAddress> Address = null;
    if (ViewBag.add != null)
    {
       Address = ViewBag.add;
    }
    var userdetails = ViewBag.details;

}

<!--Setting panel tabs-->
<section class="container-fluid mt-3 tab-pane  active" id="v-pills-setting" role="tabpanel"
         aria-labelledby="v-pills-setting-tab">
   <div class="row row-btn">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs nav-justified px-0" id="myTab" role="tablist">
         <li class="nav-item" role="presentation">
            <button class="nav-link active" id="for-details-tab" data-bs-toggle="tab"
                    data-bs-target="#for-details" type="button" role="tab"
                    aria-controls="for-details" aria-selected="true">
               <b> My details</b>
            </button>
         </li>
         <li class="nav-item" role="presentation">
            <button class="nav-link" id="for-service-tab" data-bs-toggle="tab"
                    data-bs-target="#for-service" type="button" role="tab"
                    aria-controls="for-service" aria-selected="false">
               <b>
                  My address
               </b>
            </button>
         </li>
         <li class="nav-item" role="presentation">
            <button class="nav-link " id="for-change-password-tab" data-bs-toggle="tab"
                    data-bs-target="#for-change-password" type="button" role="tab"
                    aria-controls="for-change-password" aria-selected="true">
               <b>
                  Change
                  password
               </b>
            </button>
         </li>
         <li class="nav-item" role="presentation">
            <button class="nav-link" id="for-newsletter-tab" data-bs-toggle="tab"
                    data-bs-target="#for-newsletter" type="button" role="tab"
                    aria-controls="for-newsletter" aria-selected="false">
               <b>
                  Manage
                  newsletter
               </b>
            </button>
         </li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content px-0 mt-3">
         <!--details tab-->
         <div class="tab-pane active text" id="for-details" role="tabpanel"
              aria-labelledby="for-details-tab">
            <form class="row g-4 details-form-setting">
               <div class="col-md-4">
                  <label for="firstname" class="form-label">First name</label>
                  <input class="form-control" id="firstname"
                         value=" @userdetails.FirstName">
               </div>
               <div class="col-md-4">
                  <label for="lastname" class="form-label">last name</label>
                  <input type="name" class="form-control" id="lastname"
                         value=" @userdetails.LastName">
               </div>
               <div class="col-md-4">
                  <label for="staticEmail" class="form-label ">E-mail-Address</label>
                  <input type="text"   class="form-control-plaintext email-setting"
                         id="staticEmail" value=" @userdetails.Email" readonly>
               </div>
               <div class="col-md-4">
                  <label for="number" class="form-label"> Mobile number</label>
                  <input type="number" class="form-control" id="mobile" value="@userdetails.Mobile">
               </div>
               <div class="col-md-4" style="display:inline;">
                  <label for="date" class="form-label">Birth date</label>
                     <input class="form-control" id="date1" type="date" value="date">
               </div>
               <div class="col-md-4">
               </div>
               <div class="col-md-3">
                  <label for="Language" class="form-label">
                     My preffered language
                  </label>
                  <select id="Language" class="form-select">
                     <option> Choose Language</option>
                     <option value="1"> English</option>
                     <option value="2"> Germen</option>
                  </select>
               </div>
               <div class="row mt-4">
                  <div class="col-md-3">
                     <button type="button" class="btn save-detail-button" onclick="updatedetails()">
                        Save Details
                     </button>
                  </div>
               </div>
            </form>
         </div>

         <!--address tab-->
         <div class="tab-pane text" id="for-service" role="tabpanel"
              aria-labelledby="for-service-tab">
            <table class="table address-table-setting">
               <thead class="table-light address-table-head-setting">
                  <tr>
                     <th scope="col" class="col-md-3 address-table-head1-setting"> Billing address </th>
                     <th scope="col" class="col-md-6 address-table-head2-setting"> addresses </th>
                     <th scope="col" class="col-md-3 address-table-head3-setting"> action </th>
                  </tr>
               </thead>
               <tbody>
                  @foreach (UserAddress dbs in Address)
                  {
                  <tr>
                     <td>
                        <input class="with-gap" name="group1" type="radio"
                               id="radio-address" />
                     </td>
                     <td>
                        <span>
                           <b>Address:</b>@dbs.AddressLine2 , @dbs.AddressLine1 
                           <br>
                           <b>Telephone number:</b> @dbs.Mobile
                        </span>
                     </td>
                     <td style="text-align: center;">
                        <a href="#" data-bs-toggle="modal" onclick="editadd(this);" data-bs-target="#myModalforaddress" data-id="@dbs.AddressId">
                           <i class="far fa-edit edit-icon-setting"></i>
                        </a>
                        <a href="#" data-bs-toggle="modal"onclick="deladd(this);" data-bs-target="#myModaldeleteaddress" data-id="@dbs.AddressId">
                           <i class="far fa-trash-alt delete-icon-setting"></i>
                        </a>
                       

                     </td>
                  </tr>
                  }

               </tbody>
            </table>
            <div class="row mt-4">
               <div class="col-md-3">
                  <button type="button" class="btn save-detail-button"
                          data-bs-toggle="modal" data-bs-target="#myModalforaddress">
                     Add new address
                  </button>
                  <!-- The Modal address -->
                 
                  <!-- The Modal address -->
               </div>
            </div>
         </div>

         <!--password tab-->
         <div class="tab-pane text" id="for-change-password" role="tabpanel"
              aria-labelledby="for-change-password-tab">
            <form class="row g-4 mt-1 details-form-setting" method="post">
               <div class="row mt-3">
                  <div class="col-md-4">
                     <label for="oldpassword" class="form-label">Old password</label>
                     <input type="password" class="form-control" id="oldpassword" placeholder="Current password">
                  </div>
               </div>
               <div class="row mt-3">
                  <div class="col-md-4">
                     <label for="newpassword" class="form-label">New password </label>
                     <input type="password" class="form-control" id="newpassword" placeholder=" password">
                  </div>
               </div>
               <div class="row mt-3">
                  <div class="col-md-4">
                     <label for="repeatpassword" class="form-label">
                        Repeat password
                     </label>
                     <input type="password" class="form-control" id="repeatpassword" placeholder="Repeat password">
                  </div>
               </div>
               <div class="row mt-4">
                  <div class="col-md-3">
                     <button type="button" class="btn save-detail-button" onclick="updatepw()">
                        Save on computer
                     </button>
                  </div>
               </div>
            </form>
         </div>


         <!--newsletter tab-->
         <div class="tab-pane text" id="for-newsletter" role="tabpanel"
              aria-labelledby="for-newsletter-tab">
            <div class="row">
               <div class="col-md-12">
                  <div class="form-check newsletter-setting-p">
                     <input class="form-check-input" type="checkbox" id="myCheck"
                            name="remember" required>
                     <label class="form-check-label-1 " for="myCheck">
                        Yes, I would like to subscribe to the Helperland GmbH newsletter
                        with vouchers, trends, promotions and individualized offers. I
                        can unsubscribe from the newsletter at any time in the
                        newsletter and in my customer account. If you no longer wish to
                        receive our newsletter, remove the tick.
                     </label>
                  </div>
               </div>
            </div>
         </div>
         <!--newsletter tab-->
      </div>
   </div>
</section>
