@*
   For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
   List<ServiceRequest> service = null;
   if (ViewBag.services != null)
   {
      service = ViewBag.services;
   }
}
@using Helperland.Models;


<!-- Dashboard tabs-->
<div class="row mt-3">
   <div class="col-md-6">
      <span class="export-btn-heading"> <strong> Current Service Requests </strong> </span>
   </div>
   <div class="col-md-6">
      <a asp-area="" asp-controller="CustomerPages" asp-action="BOOK_NOW">
         <button type="button" class="btn btn-export-sp float-right">
            Add New Request
         </button>
      </a>
   </div>
</div>
<section id="dashboard1" style="padding-bottom:300px !important;">
   <div class=" table-upcoming-services tab-pane active" id="v-pills-home" role="tabpanel"
        aria-labelledby="v-pills-home-tab">
      <table class="table" id="example">
         <thead class="table-header-upcoming-services">
            <tr>
               <th scope="col"> Service ID <img src="../images/sort.png" alt=""></th>
               <th scope="col">Service date <img src="../images/sort.png" alt=""> </th>
               <th scope="col"> Service Provider <img src="../images/sort.png" alt=""></th>
               <th scope="col">Payment <img src="../images/sort.png" alt=""></th>
               <th scope="col"> Actions <img src="../images/sort.png" alt=""></th>
            </tr>
         </thead>
         <tbody class="tbody-upcoming-services">
            @foreach (ServiceRequest dbs in service)
            {
               double time = Convert.ToDouble(dbs.ServiceHours + dbs.ExtraHours);

               <tr>

                  <th scope="row" class="th-upcoming-service">
                     <button type="button" class="id-button" onclick="ServiceDetails(this)" data-bs-toggle="modal" data-bs-target="#ServiceDetailes" data-id="@dbs.ServiceRequestId">
                        @*323436*@
                        @dbs.ServiceRequestId
                     </button>
                  </th>
                  <td>
                     <button type="button" class="id-button" data-bs-toggle="modal" data-bs-target="#ServiceDetailes" onclick="ServiceDetails(this)" data-id="@dbs.ServiceRequestId">
                        <img src="../images/calendar2.png" alt="">
                        @dbs.ServiceStartDate.ToString("dd/MM/yyyy")<br>
                        <img src="../images/layer-712.png" alt="">
                        @dbs.ServiceStartDate.ToString("hh:mm") - @dbs.ServiceStartDate.AddHours(time).ToString("hh:mm")
                     </button>
                  </td>
                  <td>
                     <div class="row cap-1">
                        @if (dbs.Name != null)
                        {
                           <div class="col-md-4 cap-1-image">
                              <img src="../images/cap.png" alt="" class="cap-customer-history">
                           </div>
                           <div class="col-md-8 cap-1-name" style="text-align: left;">
                              @dbs.Name
                              <br>
                              @{
                                 int totalstars = Convert.ToInt32(dbs.ratings);
                                 int stars = 5 - totalstars;
                                 for (int i = 1; i <= totalstars; i++)
                                 {
                                    <img src="../images/yellow-small-star.png" alt="">
                                 }
                                 for (int j = 1; j <= stars; j++)
                                 {

                                    <img src="../images/star2.png" alt="">
                                 }
                                 @dbs.ratings
                              }
                           </div>
                        }
                        else
                        {
                           <p class="text-success" style="font-size:15px;"> Service Provider is not assigned yet . </p>
                        }
                     </div>
                  </td>
                  <td class="payment-dashboard"> <b> € @dbs.TotalCost </b></td>
                  <td>
                     @if (dbs.ServiceStartDate.AddHours(time) < DateTime.Now && dbs.Status != 1)
                     {
                        <button type="button" class="btn btn-upcoming-service">
                           Expired
                        </button>
                     }
                     else
                     {
                        <button type="button" class="btn btn-upcoming-service-reschedule"
                                onclick="reschedule(this)" data-bs-toggle="modal" data-bs-target="#RescheduleModal" data-bs-toggle="modal" data-id="@dbs.ServiceRequestId">
                           Reschedule
                        </button>
                        <button type="button" class="btn btn-upcoming-service"
                                onclick="cancel(this)" data-bs-toggle="modal" data-bs-target="#CancelModal" data-id="@dbs.ServiceRequestId">
                           Cancle
                        </button>
                     }
                  </td>
               </tr>
            }
         </tbody>
      </table>
   </div>
</section>




